body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
    padding: 0 10px;
    background: #FEFEFE;
}
h1,
h2,
h3 {
    line-height: 1.2;
}
img {
    width: 400px;
    max-width: 100%;
}
a {
    color: #178900;
}
.highlight {
    border: 3px solid #3DDB12;
    padding: 1rem;
    background: #B7F8A6;
    border-radius: 5px;
}
.highlight a {
    font-weight: bold;
}
.highlight h1,
.highlight h2 {
    margin-top: 0.5rem;
}
